<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>platform_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,232},{100,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,60}}</string>
                <key>sourceSize</key>
                <string>{100,60}</string>
            </dict>
            <key>platform_pivot.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{400,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,50}}</string>
                <key>sourceSize</key>
                <string>{400,50}</string>
            </dict>
            <key>platform_revolve.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,77},{200,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,25}}</string>
                <key>sourceSize</key>
                <string>{200,25}</string>
            </dict>
            <key>platform_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,50},{291,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,27}}</string>
                <key>sourceSize</key>
                <string>{291,27}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,486},{144,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{144,33}}</string>
                <key>sourceSize</key>
                <string>{162,33}</string>
            </dict>
            <key>sv_anim_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{98,182}}</string>
                <key>offset</key>
                <string>{-23,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{98,182}}</string>
                <key>sourceSize</key>
                <string>{166,200}</string>
            </dict>
            <key>sv_anim_1.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,648},{72,178}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,21},{72,178}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_1.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,676},{76,178}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,21},{76,178}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,454},{76,180}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,19},{76,180}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,180},{106,182}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,16},{106,182}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,292},{114,178}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,15},{114,178}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,470},{94,178}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,21},{94,178}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,530},{74,180}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,19},{74,180}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,486},{80,168}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,31},{80,168}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,259},{98,162}}</string>
                <key>offset</key>
                <string>{28,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,37},{98,162}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,421},{96,142}}</string>
                <key>offset</key>
                <string>{29,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,57},{96,142}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,362},{96,124}}</string>
                <key>offset</key>
                <string>{29,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,75},{96,124}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{72,180}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,19},{72,180}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{90,182}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,18},{90,182}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{112,180}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,17},{112,180}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,50},{108,182}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,15},{108,182}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,563},{90,178}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,22},{90,178}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{86,182}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,18},{86,182}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,376},{78,182}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,18},{78,182}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
            <key>sv_anim_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,77},{90,182}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,18},{90,182}}</string>
                <key>sourceSize</key>
                <string>{226,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>scene5atlas-hd.png</string>
        </dict>
    </dict>
</plist>
