<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ninja.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{58,67}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{58,67}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
            <key>Ninja1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2},{58,64}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,24},{58,64}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Robot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{42,68}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{42,68}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Robot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,386},{40,68}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{40,68}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Robot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{32,70}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{32,70}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Robot4.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,456},{38,68}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{38,68}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>RobotSingle.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,386},{38,68}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,36},{38,68}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>an1_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,190}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{108,190}}</string>
                <key>sourceSize</key>
                <string>{166,200}</string>
            </dict>
            <key>an1_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{108,190}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{108,190}}</string>
                <key>sourceSize</key>
                <string>{166,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1atlas.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25fd46adee7fcf848f39239a08ac3c9c$</string>
            <key>textureFileName</key>
            <string>scene1atlas.png</string>
        </dict>
    </dict>
</plist>
