<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>1.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,178},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>10.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,112},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>2.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,178},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>3.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,133},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>4.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,130},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>5.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,127},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>6.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,124},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>7.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,121},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>8.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,118},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>9.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,115},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>GoalFlag.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,112},{64,96}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,2},{64,96}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>JumpStart.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,248},{66,70}}</string>
			<key>offset</key>
			<string>{-9,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,18},{66,70}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>Landing.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,282},{62,68}}</string>
			<key>offset</key>
			<string>{-10,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,20},{62,68}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>Midair1.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,270},{62,68}}</string>
			<key>offset</key>
			<string>{-2,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,20},{62,68}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>Midair2.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,180},{66,80}}</string>
			<key>offset</key>
			<string>{-5,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,8},{66,80}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>Ninja.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,346},{58,67}}</string>
			<key>offset</key>
			<string>{-9,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,8},{58,67}}</string>
			<key>sourceSize</key>
			<string>{88,87}</string>
		</dict>
		<key>Ninja1.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,378},{58,64}}</string>
			<key>offset</key>
			<string>{-8,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,24},{58,64}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>NinjaAttack1.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,72},{60,64}}</string>
			<key>offset</key>
			<string>{-7,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,24},{60,64}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>NinjaAttack2.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,206},{62,72}}</string>
			<key>offset</key>
			<string>{-7,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,16},{62,72}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>NinjaAttack3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,178},{84,68}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,20},{84,68}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>NinjaAttack4.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,112},{88,66}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,22},{88,66}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>NinjaWalking1.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,378},{58,64}}</string>
			<key>offset</key>
			<string>{-7,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,24},{58,64}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>NinjaWalking2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,356},{62,64}}</string>
			<key>offset</key>
			<string>{-6,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,24},{62,64}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>NinjaWalking3.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,2},{60,68}}</string>
			<key>offset</key>
			<string>{-6,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,20},{60,68}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>NinjaWalking4.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,138},{64,66}}</string>
			<key>offset</key>
			<string>{-8,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,22},{64,66}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>Robot1.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,334},{42,68}}</string>
			<key>offset</key>
			<string>{-6,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,20},{42,68}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>Robot2.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,340},{40,68}}</string>
			<key>offset</key>
			<string>{-6,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,20},{40,68}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>Robot3.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,248},{32,70}}</string>
			<key>offset</key>
			<string>{-2,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,18},{32,70}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>Robot4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,316},{38,68}}</string>
			<key>offset</key>
			<string>{2,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,20},{38,68}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>RobotSingle.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,270},{38,68}}</string>
			<key>offset</key>
			<string>{-7,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,36},{38,68}}</string>
			<key>sourceSize</key>
			<string>{144,144}</string>
		</dict>
		<key>SinglePixel1.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,189},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>SinglePixel10.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,178},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>SinglePixel2.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,189},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>SinglePixel3.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,186},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>SinglePixel4.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,186},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>SinglePixel5.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,183},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>SinglePixel6.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,183},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>SinglePixel7.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,180},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>SinglePixel8.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,180},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>SinglePixel9.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,178},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>an1_anim2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{108,190}}</string>
			<key>offset</key>
			<string>{-3,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,10},{108,190}}</string>
			<key>sourceSize</key>
			<string>{166,200}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>scene1atlas.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:00a489ab63143b616d0a44a056dfb07d$</string>
		<key>textureFileName</key>
		<string>scene1atlas.png</string>
	</dict>
</dict>
</plist>
